# Dependencies
node_modules/
.pnp
.pnp.js

# Production
/build
/out
/dist

# Environment variables
.env*.local
.env

# Next.js
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
